{% extends '@OctopouceCms/Admin/layout.html.twig' %}

{% block title %}Create page - {{ parent() }}{% endblock %}

{% block main %}
    <div class="padding-filter">
        <div class="row title">
            <div class="col s12">
                <h1>Create page</h1>
            </div>
        </div>
        {{ form_start(form) }}
        <div class="row">
            <div class="col s9">
                <div class="row">
                    <div class="col s12">
                        <ul class="tabs">
                            <li class="tab col s3"><a href="#page" class="active">Page</a></li>
                            <li class="tab col s3"><a href="#seo">SEO</a></li>
                        </ul>
                    </div>
                    <div id="page" class="col s12">
                        <div class="box">
                            <div class="content">
                                {{ form_row(form.title) }}
                                {{ form_row(form.slug) }}
                            </div>
                        </div>

                        <div id="block-fields-list" data-prototype="{{ form_widget(form.blocks.vars.prototype)|e }}"
                             data-widget-tags="{{ '<div class="box block"></div>'|e }}">
                            {% for blockField in form.blocks %}
                                <div class="box block">
                                    <div class="content">
                                        <button type="button" class="waves-effect waves-light btn-small remove-block red"><i class="fas fa-times"></i></button>
                                        {{ form_errors(blockField) }}
                                        {{ form_widget(blockField) }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <p>
                            <button type="button" class="add-another-collection-widget waves-effect waves-light btn"
                                    data-list="#block-fields-list">Add block</button>
                        </p>
                    </div>
                    <div id="seo" class="col s12">
                        <div class="box">
                            <div class="content">
                                {{ form_row(form.seoTitle) }}
                                {{ form_row(form.seoDescription) }}
                            </div>
                        </div>
                        <div class="box">
                            <div class="content">
                                {{ form_row(form.ogTitle) }}
                                {{ form_row(form.ogDescription) }}
                                {{ form_row(form.ogImage) }}
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col s3">
                <div class="box">
                    <div class="content">
                        {{ form_row(form.enabled) }}
                        {% if not is_granted('ROLE_SUPER_ADMIN') %}<div class="hide">{% endif %}
                            {{ form_row(form.editable, {'attr':{'disabled':is_granted('ROLE_SUPER_ADMIN') ? false : true}}) }}
                        {% if not is_granted('ROLE_SUPER_ADMIN') %}</div>{% endif %}
                        {{ form_row(form.publishedAt) }}
                        {{ form_row(form.finishedAt) }}
                        {{ form_row(form.parent) }}
                        {{ form_row(form.submit, {'attr':{'class':'btn-block'}}) }}
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}