{% extends '@OctopouceCms/Admin/layout.html.twig' %}

{% block title %}Edit : {{ page.title }} - {{ parent() }}{% endblock %}

{% block main %}
    <div class="padding-filter">
        <div class="row title">
            <div class="col s12">
                <h1>Edit: {{ page.title }}</h1>
            </div>
        </div>
        {{ form_start(form) }}
        <div class="row">
            <div class="col s9">
                <div class="row">
                    <div class="col s12">
                        <ul class="tabs transparent">
                            <li class="tab col s3"><a href="#page" class="active">Page</a></li>
                            {% if page.fields %}<li class="tab col s3"><a href="#cf">Custom Fields</a></li>{% endif %}
                            <li class="tab col s3"><a href="#seo">SEO</a></li>
                        </ul>
                    </div>
                    <div id="page" class="col s12">
                        <div class="box">
                            <div class="content">
                                {{ form_row(form.title, {'attr':{'disabled':page.editable or is_granted('ROLE_SUPER_ADMIN') ? false : true}}) }}
                                {{ form_row(form.slug, {'attr':{'disabled':page.editable or is_granted('ROLE_SUPER_ADMIN') ? false : true}}) }}
                            </div>
                        </div>

                        <div id="block-fields-list" data-prototype="{{ form_widget(form.blocks.vars.prototype)|e }}"
                             data-widget-tags="{{ '<div class="box block"></div>'|e }}">
                            {% for blockField in form.blocks %}
                                <div class="box block">
                                    <div class="content">
                                        {% if page.editable or is_granted('ROLE_SUPER_ADMIN') %}
                                            <button type="button" class="waves-effect waves-light btn-small remove-block red"><i class="fas fa-times"></i></button>
                                        {% endif %}
                                        {{ form_errors(blockField) }}
                                        {{ form_widget(blockField) }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        {% if page.editable or is_granted('ROLE_SUPER_ADMIN') %}
                            <p>
                                <button type="button" class="add-another-collection-widget waves-effect waves-light btn"
                                        data-list="#block-fields-list">Add block</button>
                            </p>
                        {% endif %}
                    </div>
                    {% if page.fields %}
                        <div id="cf" class="col s12">
                            <div class="box">
                                <div class="content">
                                    {% for field in page.fields %}
                                        <div class="row">
                                            {% include '@OctopouceCms/Admin/Field/type/'~field.type~'.html.twig' with {'name': field.name, 'value': field.value} %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div id="seo" class="col s12">
                        <div class="box">
                            <div class="content">
                                {{ form_row(form.seoTitle) }}
                                {{ form_row(form.seoDescription) }}
                            </div>
                        </div>
                        <div class="box">
                            <div class="content">
                                {{ form_row(form.ogTitle) }}
                                {{ form_row(form.ogDescription) }}
                                {{ form_row(form.ogImage) }}
                                {% if page.ogImage %}
                                    <div class="col m3">
                                        <img src="{{ asset(page.ogImage.pathname) }}" alt="" width="100%">
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col s3">
                <div class="box">
                    <div class="content">
                        {% if not is_granted('ROLE_SUPER_ADMIN') %}<div class="hide">{% endif %}
                        {{ form_row(form.editable, {'attr':{'disabled':is_granted('ROLE_SUPER_ADMIN') ? false : true}}) }}
                        {% if not is_granted('ROLE_SUPER_ADMIN') %}</div>{% endif %}
                        {{ form_row(form.enabled, {'attr':{'disabled':page.editable or is_granted('ROLE_SUPER_ADMIN') ? false : true}}) }}
                        {{ form_row(form.publishedAt, {'attr':{'disabled':page.editable or is_granted('ROLE_SUPER_ADMIN') ? false : true}}) }}
                        {{ form_row(form.finishedAt, {'attr':{'disabled':page.editable or is_granted('ROLE_SUPER_ADMIN') ? false : true}}) }}
                        {{ form_row(form.parent, {'attr':{'disabled':page.editable or is_granted('ROLE_SUPER_ADMIN') ? false : true}}) }}
                        {{ form_row(form.submit) }}
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}