{% extends '@OctopouceCms/Admin/layout.html.twig' %}

{% block title %}Edit : {{ page.title }} - {{ parent() }}{% endblock %}

{% block main %}
    <div class="padding-filter">
        <div class="row title">
            <div class="col s12">
                <h1>Edit: {{ page.title }}</h1>
            </div>
        </div>
        {{ form_start(form) }}
        <div class="row">
            <div class="col s9">
                <div class="row">
                    <div class="col s12">
                        <ul class="tabs transparent">
                            <li class="tab col s3"><a href="#page" class="active">Page</a></li>
                            <li class="tab col s3"><a href="#cf">Custom Fields</a></li>
                            <li class="tab col s3"><a href="#seo">SEO</a></li>
                        </ul>
                    </div>
                    <div id="page" class="col s12">
                        <div class="box">
                            <div class="content">
                                {{ form_row(form.title) }}
                                {{ form_row(form.slug) }}
                            </div>
                        </div>

                        <div id="block-fields-list" data-prototype="{{ form_widget(form.blocks.vars.prototype)|e }}"
                             data-widget-tags="{{ '<div class="box block"></div>'|e }}">
                            {% for blockField in form.blocks %}
                                <div class="box block">
                                    <div class="content">
                                        <button type="button" class="waves-effect waves-light btn-small remove-block red"><i class="fas fa-times"></i></button>
                                        {{ form_errors(blockField) }}
                                        {{ form_widget(blockField) }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <p>
                            <button type="button" class="add-another-collection-widget waves-effect waves-light btn"
                                    data-list="#block-fields-list">Add block</button>
                        </p>
                    </div>
                    <div id="cf" class="col s12">
                        <div class="box">
                            <div class="content">

                            </div>
                        </div>
                    </div>
                    <div id="seo" class="col s12">
                        <div class="box">
                            <div class="content">
                                {{ form_row(form.seoTitle) }}
                                {{ form_row(form.seoDescription) }}
                            </div>
                        </div>
                        <div class="box">
                            <div class="content">
                                {{ form_row(form.seoFacebookTitle) }}
                                {{ form_row(form.seoFacebookDescription) }}
                                {{ form_row(form.seoFacebookImage) }}
                                {% if page.seoFacebookImage %}
                                    <div class="col s3">
                                        <img src="{{ asset(page.seoFacebookImage.pathname) }}" alt="" width="100%">
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="box">
                            <div class="content">
                                {{ form_row(form.seoTwitterTitle) }}
                                {{ form_row(form.seoTwitterDescription) }}
                                {{ form_row(form.seoTwitterImage) }}
                                {% if page.seoTwitterImage %}
                                    <div class="col s3">
                                        <img src="{{ asset(page.seoTwitterImage.pathname) }}" alt="" width="100%">
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col s3">
                <div class="box">
                    <div class="content">
                        {{ form_row(form.enabled) }}
                        {{ form_row(form.publishedAt) }}
                        {{ form_row(form.finishedAt) }}
                        {{ form_row(form.parent) }}
                        {{ form_row(form.submit) }}
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}