{% extends '@OctopouceCms/Admin/layout.html.twig' %}

{% block title %}Pages - {{ parent() }}{% endblock %}

{% block main %}
    <div class="padding-filter">
        <div class="row title">
            <div class="col s12">
                <h1>Pages <a href="{{ path('octopouce_cms_admin_page_create') }}" class="waves-effect waves-light btn green"><i class="fas fa-plus"></i></a></h1>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Slug</th>
                            <th>Enable</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for page in pages %}
                            <tr>
                                <td>{{ page.id }}</td>
                                <td>{{ page.title }}</td>
                                <td>{{ page.slug }}</td>
                                <td>{% if page.isEnabled %}<i class="fas fa-check green-text"></i>{% else %}<i class="fas fa-times red-text"></i>{% endif %}</td>
                                <td>
                                    <a href="{{ path('octopouce_cms_admin_page_edit', {'page':page.id}) }}" class="waves-effect waves-light btn orange"><i class="fas fa-pencil-alt"></i></a>
                                    {% if page.editable or is_granted('ROLE_SUPER_ADMIN') %}
                                        <a href="{{ path('octopouce_cms_admin_page_delete', {'page':page.id}) }}" class="waves-effect waves-light btn red" onclick="if (!confirm('Are you sure?')) { return false }"><i class="fas fa-times"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

