{% extends '@OctopouceCms/Admin/layout.html.twig' %}

{% block title %}Edit : {{ page.title }} - {{ parent() }}{% endblock %}

{% block main %}
    <div class="padding-filter">
        <div class="row title">
            <div class="col s12">
                <h1>ACF : {{ page.title }}</h1>
            </div>
        </div>
        {{ form_start(form) }}
        <div class="row">
            <div class="col s12">
                <ul class="collapsible" id="fields-list" data-prototype="{{ form_widget(form.fields.vars.prototype)|e }}" style="border:none;"
                     data-widget-fields="{{ '<li class="box ui-state-default"></li>'|e }}">
                    {% for blockField in form.fields %}
                        <li class="box ui-state-default">
                            <div class="title collapsible-header transparent draggable">
                                <span class="fas fa-sort draggable" style="cursor:move;"></span> {{ blockField.vars.value.name }}
                                <div class="right">
                                    <button type="button" class="waves-effect waves-light btn-small remove-field red"><span class="fas fa-times"></span></button>
                                </div>
                            </div>
                            <div class="collapsible-body" style="border-bottom: none;">
                                {{ form_errors(blockField) }}
                                {{ form_widget(blockField) }}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <p>
                <button type="button" class="add-field-collection-widget btn"
                        data-list="#fields-list">Add Field</button>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                {{ form_row(form.submit) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $('.collapsible').sortable({
                handle: ".draggable",
                axis: 'y',
                container: '.collapsible',
                update: function( event, ui ) {
                   sortBlock();
                }
            });
            $('.collapsible').collapsible();

            removeBlock();

            $('.add-field-collection-widget').click(function (e) {
                let list = $($(this).attr('data-list'));
                let counter = list.data('widget-counter') | list.children().length;
                if (!counter) { counter = list.children().length; }

                let newWidget = list.attr('data-prototype');
                newWidget = newWidget.replace(/__name__/g, counter);
                counter++;
                list.data(' widget-counter', counter);

                let newElem = $(list.attr('data-widget-fields')).html('<div class="title collapsible-header transparent draggable"><span class="fas fa-sort draggable" style="cursor:move;"></span> New '+ counter +' <div class="right"><button type="button" class="waves-effect waves-light btn-small remove-field red"><span class="fas fa-times"></span></button></div></div><div class="collapsible-body" style="border-bottom: none;">' + newWidget + '</div>');
                newElem.appendTo(list);

                $('select').formSelect();

                $('.collapsible').collapsible();
                removeBlock();
                sortBlock();
            });
        });

        const removeBlock = function() {
            $('.remove-field').on('click', function() {
                $(this).parent().parent().parent().remove();
                sortBlock();
            });
        };

        const sortBlock = function() {
            $.map($('.collapsible').find('li.box'), function(el, index) {
                var input = $(el).find('.sort')[0];
                $(input).val(index);
            });
        }
    </script>
{% endblock %}