<div class="col s12">
    <label for="fields_{{ id }}">{{ name }}</label>
    <div class="file-field input-field">
        <div class="btn">
            <span>image</span>
            <input type="file" id="fields_{{ id }}" name="fields[{{ id }}]">
        </div>
        <div class="file-path-wrapper">
            <input class="file-path" type="text" id="fields_{{ id }}" placeholder="{{ value }}">
        </div>
    </div>
</div>