<div class="input-field col s12">
    <label for="fields_{{ id }}">{{ name }}</label>
    <textarea name="fields[{{ id }}]" id="fields_{{ id }}" class="materialize-textarea">{{ value }}</textarea>
</div>