<div class="input-field col s12">
    <label for="fields_{{ name }}">{{ name }}</label>
    <textarea name="fields[{{ name }}]" id="fields_{{ name }}" class="materialize-textarea">{{ value }}</textarea>
</div>